$lineHeight: 84vh;
$colorGold: rgba(190,157,104,255);

* {
    box-sizing: border-box;
}

.nav-text{
    color: white;
    cursor: pointer;
}

.box{
    border: 5px solid red;
}

.box2{
    border: 5px solid green;
}

.bckgrnd-image{
    background-image: url("../images/DSC_1114.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: $lineHeight;
}

.text-align{
    text-align: center;
    line-height: $lineHeight;
    font-size: 3em;
    font-family: 'Hepta Slab', serif;
    font-family: 'Roboto', sans-serif;
    overflow-wrap:break-word;
    word-break: break-all;
}

.text-align-s2{
    text-align: center;
    line-height: 10vh;
    font-size: 3em;
    font-weight: 600;
}

.text-family{
    font-family: 'Hepta Slab', serif;
    font-family: 'Roboto', sans-serif;
}

.card-hover:hover{
    border: 2px solid $colorGold;
    cursor: pointer;
}

.card-inside{
    padding-top: 15vh;
    text-align: start;
    padding-right: 150px;
}

.text-3{
    font-weight: 500;
    font-size: 1.2em;
}

.text-4{
    padding-right: 20%; 
    padding-left: 20%;
    font-weight: 300;
    font-size: 1.408em;
}

.scores{
    display: flex;
    gap: 65px;
    padding-left: 15%;
    background-color: $colorGold;
    height: 22vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .card-sizedown{
        display: block;
        margin-bottom: 20px;
    }

    .box{
        border: 5px solid purple;
        display:grid;
        place-content: center;
        margin-bottom: 20px;
    }

    .card-each{
        width: 400px;
        height: 50vh;
    }
}